<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/getting-started.css" />
  </head>
  <body>
    <!-- header  -->
    <div class="container">
      <ul class="header-ul">
        <li class="header-li-left">
          <img src="https://dummyimage.com/168x35/000/fff" alt="Logo" />
        </li>
        <li class="header-li-right">
          <button id="sign-in" class="signin-button">Members Login</button>
        </li>
      </ul>
    </div>
    <!-- header ends  -->
    <br />
    <!-- hero section  -->
    <div class="c-block-container">
      <div class="c-block-body">
        <h2 class="mzp-has-zap-7">Never overpay for flights again.</h2>

        <p>
          Find out when airlines accidentally publish the wrong prices or offer
          deals on flights that rarely go on sale.
        </p>

        <div class="c-intro-download">
          <div
            id="download-button-thanks"
            class="mzp-c-button-download-container c-button-download-thanks"
          >
            <a
              href="/en-GB/firefox/download/thanks/"
              class="download-link mzp-c-button mzp-t-product mzp-t-xl"
            >
              Join Today For Free
            </a>
          </div>
        </div>
      </div>
      <div class="c-block-media l-v-center">
        <div class="c-block-img">
          <div class="c-noodles">
            <!--[if gt IE 9]><!-->
            <div class="noodle-circle t-outline-yellow"></div>
            <div class="noodle-svg">
              <svg
                width="537"
                height="502"
                viewBox="0 0 537 502"
                xmlns="http://www.w3.org/2000/svg"
              >
                <linearGradient
                  x1="41.712%"
                  y1="55.612%"
                  x2="124.707%"
                  y2="67.296%"
                  id="yellow"
                >
                  <stop stop-color="#FFA436" offset="0%"></stop>
                  <stop stop-color="#FFD567" offset="100%"></stop>
                </linearGradient>
                <path
                  transform="translate(-28 -3)"
                  d="M243.358 14.088c38.422 22.008 52.309 70.656 31.478 109.807l-1.157 2.317c-19.906 37.529-6.25 84.093 31.015 104.71 37.264 20.618 84.018 7.645 105.08-29.189l1.39-2.316c22.219-38.688 71.519-52.587 110.866-30.811 39.58 22.007 53.93 72.046 31.941 111.66-64.807 116.99-212.013 159.151-328.667 94.286-117.116-64.865-159.472-212.201-94.665-329.19C152.396 5.98 201.464-8.383 241.043 12.698l1.158.695 1.157.695z"
                  fill="url(#yellow)"
                ></path>
              </svg>
            </div>
            <div class="noodle-circle t-fill-orange"></div>
            <div class="noodle-pill t-fill-purple"></div>
            <div class="noodle-pill t-outline-purple"></div>
            <div class="noodle-browser"></div>
            <!--<![endif]-->
          </div>
        </div>
      </div>
    </div>
    <!-- hero section ends  -->
    <br />
    <!-- how does this work  -->
    <section class="mzp-l-content t-releases">
      <div class="mzp-c-emphasis-box js-animate has-animate is-animated">
        <h2 class="c-section-title mzp-has-zap-8">
          <strong>Here's</strong> How This Work
        </h2>

        <ul class="c-trio">
          <li>
            <picture class="">
              <source
                srcset="
                  https://www.mozilla.org/media/img/firefox/new/desktop/picture-in-picture.e501cd8c6155.svg
                "
                loading="lazy"
              />
              <img
                src="https://www.mozilla.org/media/img/firefox/new/desktop/ie8/picture-in-picture.85b50c01d575.png"
                width="64"
                height="64"
                alt=""
                loading="lazy"
                class=""
              />
            </picture>
            <h3 class="mzp-u-title-xs">Join {NAME}Flight Club</h3>
            <p>
              Simply enter your email address and we’ll start sending you the
              cheapest flights on the web.
            </p>
          </li>

          <li>
            <picture class="">
              <source
                srcset="
                  https://www.mozilla.org/media/img/firefox/new/desktop/dark-mode.403c31d1d417.svg
                "
                loading="lazy"
              />
              <img
                src="https://www.mozilla.org/media/img/firefox/new/desktop/ie8/dark-mode.1c68a7642490.png"
                width="64"
                height="64"
                alt=""
                loading="lazy"
                class=""
              />
            </picture>
            <h3 class="mzp-u-title-xs">Get cheap flight deals</h3>
            <p>
              We'll be busy finding you the best cheap flights around, including
              discounts, hidden offers and error fares.
            </p>
          </li>

          <li>
            <picture class="">
              <source
                srcset="
                  https://www.mozilla.org/media/img/firefox/new/desktop/lock.bfecd7cb7f54.svg
                "
                loading="lazy"
              />
              <img
                src="https://www.mozilla.org/media/img/firefox/new/desktop/ie8/lock.b92c7e55bd98.png"
                width="64"
                height="64"
                alt=""
                loading="lazy"
                class=""
              />
            </picture>
            <h3 class="mzp-u-title-xs">You get to go on holiday!</h3>
            <p>
              DWe’ll email you the best deals as we find them and you just need
              to decide which ones to book and then you’re off on holiday!
            </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- how this works end  -->
    <br />
    <!-- dragable deals slider -->
    <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
      <strong>Our</strong> recent roundtrip deals
    </h2>
    <div class="slider">
      <div class="item">
        <div class="deals">
          <img
            class="slider-img"
            src="./images/cities-graphics/dubai.png"
            alt=""
          />
          <div class="slider-p-div"><p class="deals-p">Dubai</p></div>

          <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
            <strong>£299</strong>
          </h2>
        </div>
      </div>
      <div class="item">
        <div class="deals">
          <img
            class="slider-img"
            src="./images/cities-graphics/dubai.png"
            alt=""
          />
          <div class="slider-p-div"><p class="deals-p">Dubai</p></div>

          <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
            <strong>£299</strong>
          </h2>
        </div>
      </div>
      <div class="item">
        <div class="deals">
          <img
            class="slider-img"
            src="./images/cities-graphics/dubai.png"
            alt=""
          />
          <div class="slider-p-div"><p class="deals-p">Dubai</p></div>

          <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
            <strong>£299</strong>
          </h2>
        </div>
      </div>
      <div class="item">
        <div class="deals">
          <img
            class="slider-img"
            src="./images/cities-graphics/dubai.png"
            alt=""
          />
          <div class="slider-p-div"><p class="deals-p">Dubai</p></div>

          <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
            <strong>£299</strong>
          </h2>
        </div>
      </div>
      <div class="item">
        <div class="deals">
          <img
            class="slider-img"
            src="./images/cities-graphics/dubai.png"
            alt=""
          />
          <div class="slider-p-div"><p class="deals-p">Dubai</p></div>

          <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
            <strong>£299</strong>
          </h2>
        </div>
      </div>
    </div>
    <!-- dragable deals slider ends  -->

    <!-- a featured on section  -->
    <div class="provider-list">
      <h2 class="c-section-title mzp-has-zap-8 margin-bottom-0">
        <strong>As</strong> Featured On
      </h2>

      <ul class="provider-logo">
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/churchill-110-2.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/churchill-110-2.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/admiral-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/admiral-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/aa-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/aa-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/lv-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/lv-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/hastings-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/hastings-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/once-call-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/once-call-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
        <li
          data-ng-repeat="logo in ::$ctrl.selectedLogos track by $index"
          class="provider-logo__item"
        >
          <a
            class="provider-logo__link"
            data-ng-attr-target="{{::($ctrl.openInNewTab ? '_blank' : undefined)}}"
            data-ng-attr-href="{{::($ctrl.enableLinks &amp;&amp; logo.providerUrl || undefined)}}"
          >
            <img
              data-msm-image-grayscale=""
              data-ng-src="/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/esure-v1.jpg"
              src="https://www.moneysupermarket.com/content/dam/moneysupermarket/images/insurance/car-insurance/trustedproviders/esure-v1.jpg"
              data-was-processed="true"
            />
          </a>
        </li>
        <!---->
      </ul>
    </div>

    <!-- a featured on section ends  -->

    <!-- user stories section -->
    <section class="user-stories">
      <h2 class="c-section-title mzp-has-zap-8">
        <strong>Member</strong> Stories
      </h2>
      <div class="userstories">
        <div class="userstory1">
          <img
            class="user-story-img"
            src="https://as1.ftcdn.net/jpg/02/85/33/42/500_F_285334271_LRk5PrNAincSlqvjZ3BtMXvPMeYL0Q2C.jpg"
            alt=""
          />
        </div>
        <div class="userstory2">
          <h3 class="user-storiesh3">
            "Getting Mistake Fares has been a game changer."
          </h3>
          <p class="user-story-p">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            quaerat veniam quae porro. Error non, doloremque tempora
            necessitatibus asperiores perferendis ex deserunt modi voluptatum
            minima incidunt saepe, obcaecati eius adipisci corrupti perspiciatis
            laborum illo eligendi quo officia quisquam nam earum ab quod!
            Aperiam animi itaque voluptates doloribus. Quis, omnis
            exercitationem.
          </p>
          <p class="c-section-title mzp-has-zap-8 user-stories-name">
            <strong>Imran & Uzma</strong>
          </p>
          <div class="text-center">
            <a
              href="/en-GB/firefox/download/thanks/"
              class="download-link mzp-c-button mzp-t-product mzp-t-xl"
            >
              See More Member Stories
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- user stories section ends -->
    <script src="./js/slider.js"></script>
    <!-- Code injected by live-server -->
  </body>
</html>
